body {
	border: 10px solid black;
	display: block;
	width:50%;
	max-width: 900px;
	vertical-align: middle;
	border-color:gray;
	margin:10px auto;
	padding: 20px;
	font-family: 'News Cycle', sans-serif;
	float:center;
	text-align: left;

}
h1 {
	font-family: 'Pacifico', cursive;
	text-align: left;
	font-size: 80px;
	color: #ff32a9;
}
h2	{
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
	text-transform: uppercase;
}
.hrstyle	{
	border-top: 1px solid black;
}
.date	{
	font-family: 'Josefin Sans', sans-serif;
	text-align: left;
	text-transform: uppercase;
	color: #73c5e0;
	letter-spacing: 0.2rem;
}

.quote {
	border-left:5px solid #bdc3c7;
	padding-left: 5px;
}

.post {
	margin-bottom: 20px;

	
}
/* Dropdown menu background color*/

.navbar-nav > li > .dropdown-menu {background-color: #21bb97;  }

/* Dropdown menu font color*/ 

 .navbar-nav > li > .dropdown-menu a{color: #ffffff;  }