

body {
	background-color: #000000;
}

h1 {
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size:40px;
	font-weight: 800;
	text-transform: uppercase;
	width: 100%;
	margin-bottom: 5px;
	margin-left: 1.66%;
	
}

h3	{
	font-size: 1.5em;
	font-family: 'Saira Semi Condensed', sans-serif;
	color: white;

}

img{
	float:left;

}



.containergallery {
	margin: .5%;
	padding: 1%;
	

}