body, html {
    height: 100%;
    max-width: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.container {
    display: flex;
    flex-direction: column;
}
.bg {

    /* Full height */
    max-height: 50%;
    max-width: 100%;
    height: auto;
    width: 100%;
    margin: 0;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
h1 {
    
    font-size: 2em;
}

p {
    font-size:  1em;
}

.aboutMeImg {
    border-radius: 50%;
}

.aboutTitle {
    text-align: left;
}

/* Style the top navigation bar */
.navbar {
    overflow: hidden; /* Hide overflow */
    background-color: #c3e7df;
    font-family: 'Courier New', Courier, monospace;
    
}

.icon {
    display: none;
}

/* Style the navigation bar links */
.navbar a  {
    float: left; /* Make sure that the links stay side-by-side */
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: black; 
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
}



/* Change color on hover/mouse-over */
.navbar a:hover {
    background-color: #ddd; /* Grey background color */
    color: #ff32a9;
}



/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
 
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #c3e7df;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Add a grey background color to dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }

/* Column container */
.row { 
    display: flex;
   }

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 30%; /* Set the width of the sidebar */
    padding: 20px; /* Some padding */
    text-align: center;
}

/* Main column */
.main { 
    flex: 70%; /* Set the width of the main content */
    padding: 40px; /* Some padding */
    
}

  .footer {
    color: black;
    padding: 5px; /* Some padding */
    text-align: center; /* Center text*/
  }

  /* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}


/* Social Buttons */


  .techornate-social-buttons ul{
      padding-left:0;
      list-style:none;
    }
  .techornate-social-buttons li a{
    text-transform:uppercase;
    text-decoration:none;
    padding:10px 1px 10px 10px;
    letter-spacing:2px;
    font-size:10px;
    color:#fff;
    display:block;
    border-radius:3px
    }
.techornate-social-buttons ul li{
    margin-bottom:10px;
    width:100%;
}
.techornate-social-buttons li a i{
    width:35px;
    height:14px;
    float:right;
    padding:0 0 0 10px;
    margin:0;
    font-size:14px;
    line-height:14px;
    border-left:1px solid #B1B1B1;
}
.techornate-social-buttons li a.social-btn-facebook{
    background:#3b5998;
}
.techornate-social-buttons li a.social-btn-twitter{
    background:#1da1f2;
}
.techornate-social-buttons li a.social-btn-youtube{
    background:#cd201f;
}

.techornate-social-buttons li a.social-btn-instagram{
      background:#405de6;
    }

 
/* Pagination links */
.pagination {
    text-align: center;
}


.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}

/* Style the active/current link */
.pagination a.active {
    background-color: #c3e7df;
    color: white;
}

/* Add a grey background color on mouse-over */
.pagination a:hover:not(.active) {background-color: #ddd;
}
/*nav bar small screen */
@media (max-width:800px) {
html {
    overflow-x: hidden;
}
.nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
}
.nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
}
.nav > .nav-btn > label:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
}
.nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
}
.nav > .nav-links > a {
    display: block;
    width: 100%;
}
.nav > .nav-links > .dropbtn {
    display: block;
    width: 100%;
    }

.nav > #nav-check:not(:checked) + .nav-links {
    height: 0px;
}
.nav > #nav-check:checked + .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
}

.side {
    display: none;
}

/* Main column */
.main { 
    width: 100px;
}
img {
    max-width: 100%;
    max-height: 200px;
    
}
  }

/*when screen is large don't show Travel link*/
  @media (min-width: 1025px) {
    .mobileTravel {display: none;}
  }

@media screen and (min-width: 800px) {
#mobilebar {
        display: none
    }
.mobileTravelButton {
    display: none;
    }

}
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 800px) {
    .navbar.responsive {position: relative;}
    .navbar.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
        
    }
      
    .navbar a {display: none;}
    .navbar .dropbtn {display: none;}
    .navbar a.icon {
      float: right;
      display: block;
    }
    .mobilebar {display: none;}
      
    .navbar.responsive a, .dropbtn {
      float: none;
      display: block;
      text-align: left;
    }
  }
