<div>
  <link href="./feature-card4.css" rel="stylesheet" />
  <div class="feature-card4-feature-card">
    <svg viewBox="0 0 1024 1024" class="feature-card4-icon">
      <path
        d="M632 572l134 134 88-88v236h-236l88-88-134-134zM618 170h236v236l-88-88-536 536-60-60 536-536zM452 392l-60 60-222-222 60-60z"
      ></path>
    </svg>
    <h2 class="feature-card4-text"><span>Lorem ipsum</span></h2>
    <span class="feature-card4-text1">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
    </span>
  </div>
</div>
