<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}


<!--HEADER IMAGE-->
<div class="bg">
<img src="/images/robotnyc_watercolor.jpg"/>

</div>
	
  <!--NAVBAR-->
    <div class="navbar">
      <a href="#">HOME</a>
      <div class="dropdown">
        <button class="dropbtn">TRAVEL 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="#">AMSTERDAM</a>
          <a href="#">BERLIN</a>
          <a href="#">LOS ANGELES</a>
          <a href="#">CALIFORNIA</a>
          <a href="#">CHINA</a>
          <a href="#">FRANCE</a>
          <a href="#">GERMANY</a>
          <a href="#">ITALY</a>
          <a href="#">NORWAY</a>
          <a href="#">PORTLAND</a>
          <a href="#">SWEDEN</a>

        </div>
      </div> 
      <a href="#">BERLIN LIFE</a>
      <a href="#">FOOD REVIEWS</a>
      <a href="#">WALKING TOURS</a>
      <a href="#">RECIPES</a>
    </div>
  
  <!--BLOG CONTENT-->
  
  
  
  <div class="row">

      <div class="main">
          <main class="page-content" aria-label="Content">
              <div class="wrapper">
                {{ content }}
              </div>
            </main>
          
      </div>
      
      <div class="side">
        <div class="aboutMe">
          <h2>About Me</h2>
          <img class="aboutMeImg" src="/images/RachelWolf.png" alt="me">
          <p>Hi! I'm Rachel and I'm a California native living in Berlin. I travel, eat, and explore. Eat like a robot.</p>
        </div>
        <hr>
  
  <!--SOCIAL BUTTONS-->	
        <div class="techornate-social-buttons">
            <ul>
            <li><a href="http://facebook.com/robotnyc" class="social-btn-facebook">Like on Facebook <i class="fa fa-facebook"></i> </a></li>
            <li><a href="http://instagram.com/mzzroboto" class="social-btn-instagram">Follow on Instagram <i class="fa fa-instagram"></i> </a></li>
            </ul>
        </div>
      </div>
  </div>

  
  
  <!--PAGINATION-->
  <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a class="active" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
      </div>
  
  
  

    {%- include footer.html -%}

  </body>

</html>
