<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

<!--HEADER IMAGE-->

  <img class ="bg" src="{{ "/images/robotnyc_watercolor.jpg" | absolute_url }}"/>

 
	
  <!--NAVBAR-->
    <div class="navbar">
      <a href="{{ "/" | absolute_url }}">HOME</a>
      <div class="dropdown">
        <button class="dropbtn">TRAVEL 
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="{{ "/category/amsterdam.html" | absolute_url }}""">AMSTERDAM</a>
          <a href="{{ "/category/berlin.html" | absolute_url }}"""></a>BERLIN</a>
          <a href="{{ "/category/losangeles.html" | absolute_url }}"""></a>LOS ANGELES</a>
          <a href="{{ "/category/california.html" | absolute_url }}"""></a>CALIFORNIA</a>
          <a href="{{ "/category/china.html" | absolute_url }}"""></a>CHINA</a>
          <a href="{{ "/category/france.html" | absolute_url }}"""></a>FRANCE</a>
          <a href="{{ "/category/germany.html" | absolute_url }}"""></a>GERMANY</a>
          <a href="{{ "/category/italy.html" | absolute_url }}"""></a>ITALY</a>
          <a href="{{ "/category/norway.html" | absolute_url }}"""></a>NORWAY</a>
          <a href="{{ "/category/portland.html" | absolute_url }}"""></a>PORTLAND</a>
          <a href="{{ "/category/sweden.html" | absolute_url }}"""></a>SWEDEN</a>

        </div>
      </div> 
      <a href="{{ "/category/berlinlife.html" | absolute_url }}"""></a>BERLIN LIFE</a>
      <a href="{{ "/category/foodreviews.html" | absolute_url }}"""></a>FOOD REVIEWS</a>
      <a href="{{ "/category/walkingtours.html" | absolute_url }}"""></a>WALKING TOURS</a>
      <a href="{{ "/category/recipes.html" | absolute_url }}"""></a>RECIPES</a>
    </div>
  
  <!--BLOG CONTENT-->
  
  
  
  <div class="row">

      <div class="main">
          <main class="page-content" aria-label="Content">
              <div class="wrapper">
                {{ content }}
              </div>
            </main>
          
      </div>
      
      <div class="side">
        <div class="aboutMe">
          <h2>About Me</h2>
          <img class="aboutMeImg" src="{{ "/images/RachelWolf.png" | absolute_url }}" alt="me">
          <p>Hi! I'm Rachel and I'm a California native living in Berlin. I travel, eat, and explore. Eat like a robot.</p>
        </div>
        <hr>
  
  <!--SOCIAL BUTTONS-->	
        <div class="techornate-social-buttons">
            <ul>
            <li><a href="http://facebook.com/robotnyc" class="social-btn-facebook">Like on Facebook <i class="fa fa-facebook"></i> </a></li>
            <li><a href="http://instagram.com/mzzroboto" class="social-btn-instagram">Follow on Instagram <i class="fa fa-instagram"></i> </a></li>
            </ul>
        </div>
      </div>
  </div>

  
  
  <!--PAGINATION-->
  <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a class="active" href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
      </div>
  
  
  

    {%- include footer.html -%}

  </body>

</html>
